<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.noasApp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Yakirhelp">
        <activity android:name="com.example.noasApp.browse_recipes" />
        <activity android:name="com.example.noasApp.personal_page" />
        <activity android:name="com.example.noasApp.register_activity" />
        <activity android:name="com.example.noasApp.main_screen_activity" />
        <activity android:name="com.example.noasApp.VitaminTable" />
        <activity android:name="com.example.noasApp.RecipePage" />
        <activity android:name="com.example.noasApp.login_activity" />
        <activity android:name="com.example.noasApp.AddRecipe" />
        <activity android:name="com.example.noasApp.AddRestaruant" />
        <activity android:name="com.example.noasApp.temp_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>